:root { font-family: 'Inter', sans-serif; }

.center{
   display: grid;
   justify-content: center;
   align-content: center;
   
}

.text-center{
   text-align:center
}

.text-gray{
   color: gray;
}

.center-container{
        display: grid;
        margin-top: 20px;
        width: 100%;
        grid-gap: 10px;
        justify-content: center;
    }

.w-400{
   width: 400px;
}

.mt-3{
   margin-top: 3rem;
}
.mb-3{
   margin-bottom: 3rem;
}
.mb-1{
   margin-bottom: 1rem;
}

.icon-margin{
   margin-top: 11px;
}